<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> Welcome</a>
			</div>
			<h:form>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right" style="margin-right: 30px">
						<li><h:commandLink action="#{loginBean.logout}"
								value="Logout">
							</h:commandLink></li>
					</ul>
				</div>
			</h:form>
		</nav>
	</div>
</ui:composition>


