<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	</h:head>
	<h:body>
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<h:form>
						<li class="sidebar-brand"><a href="#"> Home </a></li>
						<li><h:link value="Manage Users"
								rendered="#{sessionManager.isAdmin()}"
								outcome="/private/admin/usersDataTable" styleClass="mainLinks" /></li>

						<li><h:link value="Manage Animals"
								outcome="/private/shared/animalDataTable" styleClass="mainLinks" /></li>

						<li><h:link value="Manage Diets"
								outcome="/private/shared/dietDataTable" styleClass=" mainLinks" /></li>

						<li><h:link value="Manage Tasks"
								rendered="#{sessionManager.isAdmin() or sessionManager.isManager()}"
								outcome="/private/shared/taskDataTable" styleClass="mainLinks" /></li>

						<li><h:link value="Manage Reports"
								rendered="#{sessionManager.isAdmin() or sessionManager.isManager()}"
								outcome="/private/shared/raportDataTable"
								styleClass=" mainLinks" /></li>

						<li><h:link value="My Tasks"
								rendered="#{sessionManager.isZookeeper()}"
								outcome="/private/zookeeper/tasksTable" styleClass="mainLinks" /></li>

						<li><h:link value="Edit Profile" rendered="true"
								outcome="/private/shared/usersProfile" styleClass="mainLinks" /></li>
					</h:form>
				</ul>
			</div>
		</div>
	</h:body>
</ui:composition>