<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<f:facet name="first">
		<meta http-equiv="Content-Type"
			content="text/html; charset=ISO-8859-1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
	</f:facet>
	<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="style/sidebar.css" />
	<h:outputStylesheet name="style/datatable.css" />
	<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
	<title><ui:insert name="title">Some title</ui:insert></title>

</h:head>
<ui:include src="header.xhtml" />

<ui:include src="leftMenu.xhtml" />
<h:body>
	<div style="margin-left: 22%; margin-right: 5%; padding-top: 100px">
		<ui:insert name="content">
                Template
            </ui:insert>
	</div>
</h:body>
</html>
