<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<style>
</style>

	</h:head>
	<h:body>
		<h:form id="userForm">
			<p:commandButton ajax="true" oncomplete="PF('addUserDialog').show();"
				action="#{staffBean.reset}" value="Add New"
				icon="ui-icon ui-icon-plus" update="@([id$=addForm])"
				process="@this">
			</p:commandButton>

			<p:growl id="msgs" showDetail="true" />

			<p:dataTable id="table" var="user" value="#{staffBean.staffList}"
				widgetVar="usr" rowKey="#{user.id}" paginator="true" rows="10"
				paginatorPosition="bottom">
				<f:facet name="header">
           Users Table
        </f:facet>
				<p:column styleClass="column">
					<f:facet name="header">Name</f:facet>
					<h:outputText value="#{user.firstname}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">Lastname</f:facet>
					<h:outputText value="#{user.lastname}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">Username</f:facet>
					<h:outputText value="#{user.username}" />
				</p:column>
				<p:column styleClass="column">
					<f:facet name="header">Role</f:facet>
					<h:outputText value="#{user.role.title}" />
				</p:column>

				<p:column>
					<f:facet name="header">Options</f:facet>

					<p:commandButton value="View" ajax="true"
						oncomplete="PF('userDetailDialog').show()"
						update="@([id$=userDetail])" icon="ui-icon-search">
						<f:setPropertyActionListener value="#{user}"
							target="#{staffBean.selected}" />
					</p:commandButton>

					<p:commandButton value="Edit" ajax="true"
						oncomplete="PF('userDialog').show()"
						update="@([id$=panel]) @([id$=displayy])" icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{user}"
							target="#{staffBean.selected}" />
					</p:commandButton>

					<p:commandButton value="Delete" ajax="true" update="@form"
						styleClass="deleteButton" process="@this"
						actionListener="#{staffBean.delete(user)}" icon="ui-icon-trash">
						<f:setPropertyActionListener value="#{user}"
							target="#{staffBean.selected}" />
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
		</h:form>

		<!-- UserDetails -->

		<p:dialog header="User Info" widgetVar="userDetailDialog"
			showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="userDetail">
				<p:panelGrid columns="2" columnClasses="ui-grid-col-5,ui-grid-col-7"
					styleClass="ui-panelgrid-blank">

					<h:outputText value="Firstname:" />
					<h:outputText value="#{staffBean.selected.firstname}" />

					<h:outputText value="Lastname:" />
					<h:outputText value="#{staffBean.selected.lastname}" />

					<h:outputText value="Username:" />
					<h:outputText value="#{staffBean.selected.username}" />

					<h:outputText value="Age:" />
					<h:outputText value="#{staffBean.selected.age}" />

					<h:outputText value="Address:" />
					<h:outputText value="#{staffBean.selected.address}" />

					<h:outputText value="Role:" />
					<h:outputText value="#{staffBean.selected.role.title}" />

					<h:outputText value="Hiredate:" />
					<h:outputText value="#{staffBean.selected.hiredate}" />

				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<!-- UserEdit form -->

		<p:dialog header="Edit User" widgetVar="userDialog" resizable="false"
			width="900px">
			<h:form id="panel">
				<p:panelGrid id="dispalyy" columns="4" layout="grid"
					columnClasses="ui-grid-col-2,ui-grid-col-4"
					styleClass="ui-panelgrid-blank">

					<p:outputLabel for="firstname" value="FirstName:" />
					<p:inputText id="firstname" required="true"
						requiredMessage="Firstname can not be empty"
						value="#{staffBean.selected.firstname}">
						<f:validateLength minimum="2" maximum="20" />
					</p:inputText>

					<p:outputLabel for="lastname" value="LastName:" />
					<p:inputText id="lastname" value="#{staffBean.selected.lastname}"
						required="true" requiredMessage="LastName can not be empty">
					</p:inputText>

					<p:outputLabel for="age" value="Age:" />
					<p:inputNumber id="age" value="#{staffBean.selected.age}" />

					<p:outputLabel for="address" value="Address:" />
					<p:inputText id="address" value="#{staffBean.selected.address}" />

					<p:outputLabel for="username" value="Username:" />
					<p:inputText id="username" required="true"
						requiredMessage="Username can not be empty!"
						value="#{staffBean.selected.username}">
						<f:validateLength minimum="2" maximum="20" />
					</p:inputText>

					<p:outputLabel for="role" value="Role:" />
					<p:selectOneMenu id="role" value="#{staffBean.selected.role}"
						converter="converterClass" style="width:210px" >
						<f:selectItem itemLabel="SelectRole" itemValue="#{null}" />
						<f:selectItems value="#{staffBean.roleList}" var="role"
							itemLabel="#{role.title}" itemValue="#{role}" />
					</p:selectOneMenu>

					<p:outputLabel for="hiredate" value="Hiredate:" />
					<p:calendar id="hiredate" value="#{staffBean.selected.hiredate}"
						pattern="yyyy-MM-dd" />

				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid"
					style="margin-left:35%;margin-top:20px"
					columnClasses="ui-grid-col-2,ui-grid-col-8"
					styleClass="ui-panelgrid-blank">

					<p:commandButton value="Save" action="#{staffBean.loadUser}"
						oncomplete="PF('userDialog').hide();"
						update="@([id$=userForm]) @([id$=table])" style="color:green;"
						actionListener="#{staffBean.update}" icon="ui-icon-check" />

					<p:commandButton value="Cancel" style="color:red;"
						oncomplete="PF('userDialog').hide();" icon="ui-icon-close" />
				</p:panelGrid>

			</h:form>
		</p:dialog>

		<!-- Add User -->

		<p:dialog header="Add User" widgetVar="addUserDialog" width="900px"
			resizable="false">
			<h:form id="addForm">
				<p:panelGrid columns="4" layout="grid"
					columnClasses="ui-grid-col-2,ui-grid-col-5"
					styleClass="ui-panelgrid-blank">

					<p:outputLabel for="firstname" value="Firstname:" />
					<p:inputText id="firstname" value="#{staffBean.selected.firstname}"
						requiredMessage="Firstname required!" required="true">
						<f:validateLength minimum="2" maximum="30" />
					</p:inputText>

					<p:outputLabel for="lastname" value="Lastname:" />
					<p:inputText id="lastname" value="#{staffBean.selected.lastname}"
						requiredMessage="Lastname required!" required="true">
						<f:validateLength minimum="2" maximum="30" />
					</p:inputText>

					<p:outputLabel for="age" value="Age:" />
					<p:inputNumber id="age" value="#{staffBean.selected.age}" />

					<p:outputLabel for="address" value="Address:" />
					<p:inputText id="address" value="#{staffBean.selected.address}" />

					<p:outputLabel for="username" value="Username:" />
					<p:inputText id="username" value="#{staffBean.selected.username}"
						required="true" requiredMessage="Username can not be empty">
						<f:validateLength minimum="2" maximum="30" />
					</p:inputText>

					<p:outputLabel for="password" value="Password:" />
					<p:password id="password" value="#{staffBean.selected.password}"
						required="true" requiredMessage="Password can not be empty">
						<f:validateRegex pattern="((?=.*[a-zA-Z]).{6,})" />
					</p:password>

					<p:outputLabel for="role" value="UserRole:" />
					<p:selectOneMenu id="role" value="#{staffBean.selected.role}"
						required="true" style="width:210px"
						requiredMessage="UserRole can not be empty"
						converter="converterClass">
						<f:selectItem itemLabel=" SelectRole" itemValue="#{null}" />
						<f:selectItems value="#{staffBean.roleList}" var="role"
							itemLabel="#{role.title}" itemValue="#{role}" />
					</p:selectOneMenu>

					<p:outputLabel for="hiredate" value="Hiredate:" />
					<p:calendar id="hiredate" value="#{staffBean.selected.hiredate}"
						pattern="yyyy-MM-dd" />
				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid"
					style="margin-left:35%;margin-top:20px"
					columnClasses="ui-grid-col-2,ui-grid-col-8"
					styleClass="ui-panelgrid-blank">

					<p:commandButton value="Save" style="color:green;"
						oncomplete="PF('addUserDialog').hide();"
						update="@([id$=userForm]) @([id$=msgs]) @([id$=table])"
						action="#{staffBean.loadUser}" actionListener="#{staffBean.save}"
						icon="ui-icon-check" />

					<p:commandButton value="Reset" icon="ui-icon-close">
						<p:ajax update="addForm" resetValues="true" />
					</p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</h:body>
</ui:component>
