body {
	overflow-x: hidden;
}

#wrapper {
	height: 100%;
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	width: 0;
	height: 100%;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 50px;
	width: 220px;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #1d1d1d;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	margin-top:10px;
}

.sidebar-nav li .mainLinks {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}