html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image:
		url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgK6yHScPK_kgudc_3G7mBXS_eqUPIfdQs0nTOPEQ6zsKTSnzmLg);
	background-size: cover;
	-webkit-filter: blur(4px);
	z-index: 0;
}

.grad {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	z-index: 1;
	opacity: 0.7;
}

.header {
	position: absolute;
	top: calc(35% - 30px);
	left: calc(70% - 120px);
	z-index: 2;
}

.header div {
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;
}

.header div span {
	color: #F2A526!important;
}

.login {
	position: absolute;
	top: calc(45% - 70px);
	left: calc(65% - 65px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.input {
	width: 310px;
	height: 25px;
	margin-bottom: 10px;
	background: transparent;
	border: 1px solid;
	outline: none;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	text-color: white;
	text-shadow: 1px 1px 1px rgba(0, 255, 0, 0.3);
	border: 1px solid rgba(0, 0.1, 0, 0.3);
	border-radius: 7px;
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px
		rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	padding: 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-block {
	width: 310px;
	height: 40px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #F2A526;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 550;
	padding: 6px;
	margin-top: 10px;
	margin-left: 10px;
}

.btn-block:hover {
	color: #F59A05;
	text-decoration: none;
	background-color: #ffffcc;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.ui-datatable {
	border: 1px solid #aed0ea !important;
	text-align: center;
	width: 100%;
}

.input:active {
	opacity: 0.6;
}

.ui-dialog .input {
	width: auto !important;
}

.input:focus {
	border-color: #F2A526;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(24, 204, 162, 0.6);
	outline: 0 none;
}

.btn-block:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}