<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<style>
.column {
	width: 230px;
}

.ui-growl {
	z-index: 9999 !important;
}
</style>

	</h:head>

	<h:form id="tableVol">
		<p:commandButton ajax="true"
			rendered="#{sessionManager.hasUserPermission('ADD_ANIMALS')}"
			update="@([id$=addAnimals]) @([id$=animalsDialog])"
			action="#{animalBean.reset}" icon="ui-icon ui-icon-plus"
			oncomplete="PF('addAnimalDialog').show();" value="Add New"
			process="@this">
		</p:commandButton>

		<p:growl id="msgs" showDetail="true" />

		<p:dataTable id="animalDataTable" var="animal"
			value="#{animalBean.animalList}" rowKey="#{animal.id}"
			paginator="true" rows="10" paginatorPosition="bottom">
			<f:facet name="header">
           Animals Table
        </f:facet>
			<p:column styleClass="column">
				<f:facet name="header">Name</f:facet>
				<h:outputText value="#{animal.name}" />
			</p:column>
			<p:column styleClass="column">
				<f:facet name="header">ScientificName</f:facet>
				<h:outputText value="#{animal.scientificName}" />
			</p:column>

			<p:column styleClass="column">
				<f:facet name="header">Category</f:facet>
				<h:outputText value="#{animal.animalCategoryId.name}" />
			</p:column>

			<p:column>
				<f:facet name="header">Options </f:facet>
				<p:commandButton value="View" oncomplete="PF('animalDialog').show()"
					ajax="true" update="@([id$=animalDetail])" icon="ui-icon-search">
					<f:setPropertyActionListener value="#{animal}"
						target="#{animalBean.selectedAnimal}" />
				</p:commandButton>

				<p:commandButton value="Edit"
					rendered="#{sessionManager.hasUserPermission('EDIT_ANIMALS') eq true}"
					oncomplete="PF('editAnimalDialog').show();" icon="ui-icon-pencil"
					ajax="true" update="@([id$=editAnimals]) @([id$=animalDialog])">
					<f:setPropertyActionListener value="#{animal}"
						target="#{animalBean.selectedAnimal}" />
				</p:commandButton>

				<p:commandButton value="Delete" ajax="true" icon="ui-icon-trash"
					rendered="#{sessionManager.hasUserPermission('DELETE_ANIMALS')}"
					update="@form" actionListener="#{animalBean.delete(animal)}"
					process="@this">
					<f:setPropertyActionListener value="#{animal}"
						target="#{animalBean.selectedAnimal}" />
					<p:confirm header="Confirmation" message="Are you sure?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:column>
		</p:dataTable>
	</h:form>

	<!--Animal Details -->

	<p:dialog header="Animal Info" widgetVar="animalDialog"
		showEffect="fade" hideEffect="fade" resizable="false">
		<p:outputPanel id="animalDetail">
			<p:panelGrid columns="2" columnClasses="ui-grid-col-5,ui-grid-col-7"
				styleClass="ui-panelgrid-blank">

				<h:outputText value="Name:" />
				<h:outputText value="#{animalBean.selectedAnimal.name}" />

				<h:outputText value="ScientificName:" />
				<h:outputText value="#{animalBean.selectedAnimal.scientificName}" />

				<h:outputText value="Category:" />
				<h:outputText
					value="#{animalBean.selectedAnimal.animalCategoryId.name}" />

				<h:outputText value="Age:" />
				<h:outputText value="#{animalBean.selectedAnimal.age}" />

				<h:outputText value="Weight:" />
				<h:outputText value="#{animalBean.selectedAnimal.weight}" />

				<h:outputText value="Gender:" />
				<h:outputText value="#{animalBean.selectedAnimal.gender}" />

				<h:outputText value="Enclosure:" />
				<h:outputText value="#{animalBean.selectedAnimal.enclosureId.type}" />

				<h:outputText value="Arrival Date:" />
				<h:outputText value="#{animalBean.selectedAnimal.arrivalDate}" />
			</p:panelGrid>
		</p:outputPanel>
	</p:dialog>

	<!-- Edit Animals -->
	<p:dialog header="Edit Animal" widgetVar="editAnimalDialog"
		resizable="false" width="900px">
		<h:form id="editAnimals">
			<p:panelGrid id="animalDialog" columns="4" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-4"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" styleClass="text-input"
					value="#{animalBean.selectedAnimal.name}"
					requiredMessage="Name should not be empty">
					<f:validateLength minimum="2" maximum="20" />
				</p:inputText>

				<p:outputLabel for="scientificName" value="ScientificName:" />
				<p:inputText id="scientificName" styleClass="text-input"
					value="#{animalBean.selectedAnimal.scientificName}">
					<f:validateLength minimum="2" maximum="100" />
				</p:inputText>

				<p:outputLabel for="age" value="Age:" />
				<p:inputText id="age" styleClass="text-input"
					value="#{animalBean.selectedAnimal.age}" />

				<p:outputLabel for="weight" value="Weight:" />
				<p:inputText id="weight" styleClass="text-input"
					value="#{animalBean.selectedAnimal.weight}" />

				<p:outputLabel for="category" value="Category:" />
				<p:selectOneMenu id="category"
					value="#{animalBean.selectedAnimal.animalCategoryId}"
					style="width:175px" converter="converterClass">
					<f:selectItem itemLabel=" SelectCategory" itemValue="#{null}" />
					<f:selectItems value="#{animalBean.animalCategoryList}"
						var="category" itemLabel="#{category.name}"
						itemValue="#{category}" />
				</p:selectOneMenu>

				<p:outputLabel for="gender" value="Gender:" />
				<p:selectOneRadio id="gender" layout="grid" columns="2"
					value="#{animalBean.selectedAnimal.gender}">
					<f:selectItem itemLabel="Female" itemValue="female" />
					<f:selectItem itemLabel="Male" itemValue="male" />
				</p:selectOneRadio>

				<p:outputLabel for="arrivalDate" value="ArrivalDate:" />
				<p:calendar id="arrivalDate"
					value="#{animalBean.selectedAnimal.arrivalDate}" navigator="true" />

				<p:outputLabel for="enclosure" value="Enclosure:" />
				<p:selectOneMenu id="enclosure"
					value="#{animalBean.selectedAnimal.enclosureId}"
					style="width:175px" converter="converterClass">
					<f:selectItem itemLabel=" SelectEnclosure:" itemValue="#{null}" />
					<f:selectItems value="#{animalBean.enclosureList}" var="enclosure"
						itemLabel="#{enclosure.type}" itemValue="#{enclosure}" />
				</p:selectOneMenu>
			</p:panelGrid>

			<p:panelGrid columns="2" layout="grid"
				style="margin-left:35%;margin-top:20px"
				columnClasses="ui-grid-col-2,ui-grid-col-8"
				styleClass="ui-panelgrid-blank">
				<p:commandButton value="Save"
					oncomplete="PF('editAnimalDialog').hide();"
					update="@([id$=tableVol]) @([id$=animalDataTable])" ajax="true"
					actionListener="#{animalBean.update}" icon="ui-icon-check">
				</p:commandButton>

				<p:commandButton value="Cancel"
					oncomplete="PF('editAnimalDialog').hide();" icon="ui-icon-close">
				</p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<!-- 	Add Animals -->

	<p:dialog header="Add Animal" widgetVar="addAnimalDialog"
		resizable="false" width="900px">
		<h:form id="addAnimals">
			<p:panelGrid id="animalsDialog" columns="4" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-4"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" styleClass="text-input"
					value="#{animalBean.selectedAnimal.name}" required="true"
					requiredMessage="Name should not be empty">
					<f:validateLength minimum="2" maximum="100" />
				</p:inputText>

				<p:outputLabel for="scientificName" value="ScientificName:" />
				<p:inputText id="scientificName" styleClass="text-input"
					required="true"
					requiredMessage="ScientificName should not be empty"
					value="#{animalBean.selectedAnimal.scientificName}">
					<f:validateLength minimum="2" maximum="20" />
				</p:inputText>

				<p:outputLabel for="age" value="Age:" />
				<p:inputNumber minValue="0" maxValue="100" id="age"
					styleClass="text-input" value="#{animalBean.selectedAnimal.age}" />

				<p:outputLabel for="weight" value="Weight:" />
				<p:inputNumber id="weight" styleClass="text-input"
					value="#{animalBean.selectedAnimal.weight}" />

				<p:outputLabel for="category" value="Category:" />
				<p:selectOneMenu id="category"
					value="#{animalBean.selectedAnimal.animalCategoryId}"
					style="width:210px" converter="converterClass">
					<f:selectItem itemLabel=" SelectCategory" itemValue="#{null}" />
					<f:selectItems value="#{animalBean.animalCategoryList}"
						var="category" itemLabel="#{category.name}"
						itemValue="#{category}" />
				</p:selectOneMenu>

				<p:outputLabel for="gender" value="Gender:" />
				<p:selectOneRadio id="gender"
					value="#{animalBean.selectedAnimal.gender}">
					<f:selectItem itemLabel="Female" itemValue="female" />
					<f:selectItem itemLabel="Male" itemValue="male" />
				</p:selectOneRadio>

				<p:outputLabel for="arrivalDate" value="ArrivalDate:" />
				<p:calendar id="arrivalDate"
					value="#{animalBean.selectedAnimal.arrivalDate}" navigator="true" />

				<p:outputLabel for="enclosure" value="Enclosure:" />
				<p:selectOneMenu id="enclosure"
					value="#{animalBean.selectedAnimal.enclosureId}"
					style="width:210px" converter="converterClass">
					<f:selectItem itemLabel=" SelectEnclosure:" itemValue="#{null}" />
					<f:selectItems value="#{animalBean.enclosureList}" var="enclosure"
						itemLabel="#{enclosure.type}" itemValue="#{enclosure}" />
				</p:selectOneMenu>
			</p:panelGrid>

			<p:panelGrid columns="2" layout="grid"
				style="margin-left:35%;margin-top:20px"
				columnClasses="ui-grid-col-2,ui-grid-col-6"
				styleClass="ui-panelgrid-blank">
				<p:commandButton value="Save"
					oncomplete="PF('addAnimalDialog').hide();" style="color:green;"
					update="@([id$=tableVol]) @([id$=animalDataTable])" ajax="true"
					actionListener="#{animalBean.save}" icon="ui-icon-check">
				</p:commandButton>

				<p:commandButton value="Reset" icon="ui-icon-close">
					<p:ajax update="addAnimals" resetValues="true" />
				</p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:component>
