<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:body>
		<h:form id="dietForm">
			<p:commandButton ajax="true" oncomplete="PF('addDietDialog').show();"
				rendered="#{sessionManager.hasUserPermission('ADD_DIET')}"
				action="#{dailyDietBean.reset}" value="Add New"
				icon="ui-icon ui-icon-plus" update="@([id$=addForm])"
				process="@this">
			</p:commandButton>

			<p:growl id="msgs" showDetail="true" />

			<p:dataTable id="dietDataTable" var="diet"
				value="#{dailyDietBean.diets}" rowKey="#{diet.id}" paginator="true"
				rows="10" paginatorPosition="bottom">
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="Diets Table" />
					</p:outputPanel>
				</f:facet>
				<p:column styleClass="column">
					<f:facet name="header">FoodType</f:facet>
					<h:outputText value="#{diet.foodType}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">FoodPortion</f:facet>
					<h:outputText value="#{diet.foodPortion}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">UnitMass</f:facet>
					<h:outputText value="#{diet.unitMass}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">Animal</f:facet>
					<h:outputText value="#{diet.animal.name}" />
				</p:column>

				<p:column>
					<f:facet name="header">Options </f:facet>
					<p:commandButton value="View" oncomplete="PF('dietDetail').show()"
						ajax="true" update="@([id$=taskDetails])" icon="ui-icon-search">
						<f:setPropertyActionListener value="#{diet}"
							target="#{dailyDietBean.diet}" />
					</p:commandButton>

					<p:commandButton value="Edit"
						rendered="#{sessionManager.hasUserPermission('EDIT_DIET')}"
						oncomplete="PF('editDietDialog').show();" icon="ui-icon-pencil"
						ajax="true" update="@([id$=editForm]) @([id$=editFormDialog])">
						<f:setPropertyActionListener value="#{diet}"
							target="#{dailyDietBean.diet}" />
					</p:commandButton>

					<p:commandButton value="Delete" ajax="true" icon="ui-icon-trash"
						rendered="#{sessionManager.hasUserPermission('DELETE_DIET')}"
						update="@form" actionListener="#{dailyDietBean.delete(diet)}"
						process="@this">
						<f:setPropertyActionListener value="#{diet}"
							target="#{dailyDietBean.diet}" />
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>

				</p:column>
			</p:dataTable>
		</h:form>

		<!-- Diet info -->

		<p:dialog header="Diet Info" widgetVar="dietDetail" showEffect="fade"
			hideEffect="fade" resizable="false">
			<p:panelGrid id="taskDetails" columns="2" layout="grid"
				columnClasses="ui-grid-col-4,ui-grid-col-8"
				styleClass="ui-panelgrid-blank">

				<h:outputText value="FoodType:" />
				<h:outputText value="#{dailyDietBean.diet.foodType}" />

				<h:outputText value="FoodPortion:" />
				<h:outputText value="#{dailyDietBean.diet.foodPortion}" />

				<h:outputText value="UnitMass:" />
				<h:outputText value="#{dailyDietBean.diet.unitMass}" />

				<h:outputText value="StartDate:" />
				<h:outputText value="#{dailyDietBean.diet.startDate}" />

				<h:outputText value="EndDate:" />
				<h:outputText value="#{dailyDietBean.diet.endDate}" />

				<h:outputText value="Animal:" />
				<h:outputText value="#{dailyDietBean.diet.animal.name}" />

			</p:panelGrid>
		</p:dialog>

		<!-- Edit Diet -->

		<p:dialog header="Edit Diet" widgetVar="editDietDialog" width="900px"
			resizable="false">
			<h:form id="editForm">
				<p:panelGrid id="editFormDialog" columns="4" layout="grid"
					columnClasses="ui-grid-col-2,ui-grid-col-6"
					styleClass="ui-panelgrid-blank">

					<p:outputLabel for="food" value="FoodType:" />
					<p:inputText id="food" value="#{dailyDietBean.diet.foodType}" />

					<p:outputLabel for="portion" value="FoodPortion:" />
					<p:inputNumber id="portion"
						value="#{dailyDietBean.diet.foodPortion}" />

					<p:outputLabel for="unitMass" value="UnitMass:" />
					<p:selectOneRadio id="unitMass" layout="grid" columns="2"
						value="#{dailyDietBean.diet.unitMass}">
						<f:selectItem itemLabel="kg" itemValue="kg" />
						<f:selectItem itemLabel="gr" itemValue="gr" />
					</p:selectOneRadio>

					<p:outputLabel for="startDate" value="StartDate:" />
					<p:calendar id="startDate" value="#{dailyDietBean.diet.startDate}" />

					<p:outputLabel for="endDate" value="EndDate:" />
					<p:calendar id="endDate" value="#{dailyDietBean.diet.endDate}" />

					<p:outputLabel for="animal" value="Animal:" />
					<p:selectOneMenu id="animal" value="#{dailyDietBean.diet.animal}"
						style="width:210px" converter="converterClass">
						<f:selectItem itemLabel=" Select animal" itemValue="#{null}" />
						<f:selectItems value="#{animalBean.animalList}" var="animal"
							itemLabel="#{animal.name}" itemValue="#{animal}" />
					</p:selectOneMenu>
				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid"
					style="margin-left:35%;margin-top:20px"
					columnClasses="ui-grid-col-2,ui-grid-col-8"
					styleClass="ui-panelgrid-blank">

					<p:commandButton value="Save"
						oncomplete="PF('editDietDialog').hide();"
						update="@([id$=dietForm]) @([id$=msgs]) @([id$=dietDataTable])"
						actionListener="#{dailyDietBean.update}" icon="ui-icon-check" />

					<p:commandButton value="Cancel" icon="ui-icon-close"
						oncomplete="PF('editDietDialog').hide();" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<!-- Add Diet -->

		<p:dialog header="Add Diet" widgetVar="addDietDialog" width="900px"
			resizable="false">
			<h:form id="addForm">
				<p:panelGrid columns="4" layout="grid"
					columnClasses="ui-grid-col-2,ui-grid-col-6"
					styleClass="ui-panelgrid-blank">

					<p:outputLabel for="food" value="FoodType:" />
					<p:inputText id="food" value="#{dailyDietBean.diet.foodType}" />

					<p:outputLabel for="portion" value="FoodPortion:" />
					<p:inputNumber id="portion"
						value="#{dailyDietBean.diet.foodPortion}" />

					<p:outputLabel for="unitMass" value="UnitMass:" />
					<p:selectOneRadio id="unitMass" layout="grid" columns="2"
						value="#{dailyDietBean.diet.unitMass}">
						<f:selectItem itemLabel="kg" itemValue="kg" />
						<f:selectItem itemLabel="gr" itemValue="gr" />
					</p:selectOneRadio>

					<p:outputLabel for="startDate" value="StartDate:" />
					<p:calendar id="startDate" value="#{dailyDietBean.diet.startDate}" />

					<p:outputLabel for="endDate" value="EndDate:" />
					<p:calendar id="endDate" value="#{dailyDietBean.diet.endDate}" />

					<p:outputLabel for="animal" value="Animal:" />
					<p:selectOneMenu id="animal" value="#{dailyDietBean.diet.animal}"
						style="width:210px" converter="converterClass">
						<f:selectItem itemLabel=" Select animal" itemValue="#{null}" />
						<f:selectItems value="#{animalBean.animalList}" var="animal"
							itemLabel="#{animal.name}" itemValue="#{animal}" />
					</p:selectOneMenu>
				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid"
					style="margin-left:35%;margin-top:20px"
					columnClasses="ui-grid-col-2,ui-grid-col-8"
					styleClass="ui-panelgrid-blank">

					<p:commandButton value="Save"
						oncomplete="PF('addDietDialog').hide();"
						update="@([id$=dietForm]) @([id$=msgs]) @([id$=dietDataTable])"
						actionListener="#{dailyDietBean.save}" icon="ui-icon-check" />

					<p:commandButton value="Reset" icon="ui-icon-close">
						<p:ajax update="addForm" resetValues="true" />
					</p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</h:body>
</ui:component>
