<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<div class="editForm">
		<h:form id="editUserForm">
			<p:growl id="msgs" showDetail="false" life="2000" />
			<div style="margin-left: 30%;">
				<H3>Edit profile</H3>
				<p:panelGrid columns="2" layout="grid"
					columnClasses="ui-grid-col-2,ui-grid-col-6"
					styleClass="ui-panelgrid-blank">

					<p:outputLabel for="username" value="Username:" />
					<p:inputText id="username" styleClass="text-input"
						value="#{sessionManager.staf.username}" disabled="true" />

					<p:outputLabel for="firstname" value="Firstname:" />
					<p:inputText id="firstname" styleClass="text-input"
						value="#{sessionManager.staf.firstname}" />

					<p:outputLabel for="lastname" value="Lastname:" />
					<p:inputText id="lastname" styleClass="text-input"
						value="#{sessionManager.staf.lastname}" />

					<p:outputLabel for="age" value="Age:" />
					<p:inputText id="age" styleClass="text-input"
						value="#{sessionManager.staf.age}" />

					<p:outputLabel for="address" value="Address:" />
					<p:inputText id="address" styleClass="text-input"
						value="#{sessionManager.staf.address}" />

					<p:commandButton value="Save" update="@([id$=editUserForm])"
						actionListener="#{staffBean.updateProfile}" icon="ui-icon-check" />

				</p:panelGrid>
			</div>
		</h:form>
	</div>

	<div style="margin-left: 30%; margin-top: 5%">
		<h:form id="changePassword">
			<p:messages id="msgs" showDetail="true" autoUpdate="true" />

			<p:panelGrid id="dispalyPass" columns="2" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-6"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="pass1" value="New Password:" />
				<p:password id="pass1" styleClass="text-input" match="pass2"
					required="true" value="#{staffBean.newPassword}">
					<f:validateRegex pattern="((?=.*[a-zA-Z]).{6,})" />
				</p:password>

				<p:outputLabel for="pass2" value="Retype New Password:" />
				<p:password id="pass2" styleClass="text-input" required="true"
					value="#{staffBean.newPassword}">
					<f:validateRegex pattern="((?=.*[a-zA-Z]).{6,})" />
				</p:password>

			</p:panelGrid>
			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
				<p:commandButton value="Save" style="margin-left: 70px;" ajax="true"
					action="#{staffBean.changePassword}" update="@([id$=displayPass])"
					icon="ui-icon-check" />

				<p:commandButton value="Reset" style="margin-right: 20px;"
					icon="ui-icon-close">
					<p:ajax update="changePassword" resetValues="true" />
				</p:commandButton>
			</p:panelGrid>
		</h:form>
	</div>
</ui:component>

