<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:body>
		<h:form id="reportForm">
			<p:growl id="msgs" showDetail="true" />
			<p:dataTable id="reportTab" var="report"
				value="#{taskBean.reportList}" resizableColumns="true"
				widgetVar="rep" rowKey="#{report.id}" paginator="true" rows="10"
				paginatorPosition="bottom">
				<f:facet name="header">
           Report Table
        </f:facet>
				<p:column styleClass="column">
					<f:facet name="header">Medical Observation</f:facet>
					<h:outputText value="#{report.medicalObservation}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">Diet Observation</f:facet>
					<h:outputText value="#{report.dietObservation}" />
				</p:column>

				<p:column styleClass="column">
					<f:facet name="header">Comments</f:facet>
					<h:outputText value="#{report.comments}" />
				</p:column>
				<p:column styleClass="column">
					<f:facet name="header">CreatedDate</f:facet>
					<h:outputText value="#{report.createdDate}" />
				</p:column>

				<p:column>
					<f:facet name="header">Options</f:facet>
					<p:commandButton value="View" ajax="true"
						oncomplete="PF('reportDetailDialog').show()"
						update="@([id$=reportDetail])" icon="ui-icon-search">
						<f:setPropertyActionListener value="#{report}"
							target="#{taskBean.report}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<!-- Report Details -->

		<p:dialog header="Report Info" widgetVar="reportDetailDialog"
			showEffect="fade" hideEffect="fade" resizable="false">
			<p:panelGrid id="reportDetail" columns="2"
				columnClasses="ui-grid-col-5,ui-grid-col-9"
				styleClass="ui-panelgrid-blank">

				<h:outputText value="Medical Observation:" />
				<h:outputText value="#{taskBean.report.medicalObservation}" />

				<h:outputText value="Diet Observation:" />
				<h:outputText value="#{taskBean.report.dietObservation}" />

				<h:outputText value="Comments:" />
				<h:outputText value="#{taskBean.report.comments}" />

				<h:outputText value="CreatedDate:" />
				<h:outputText value="#{taskBean.report.createdDate}" />

				<h:outputText value="Staff:" />
				<h:outputText value="#{taskBean.report.staffTaskId.staffId}" />

				<h:outputText value="Task:" />
				<h:outputText value="#{taskBean.report.staffTaskId.taskId}" />

			</p:panelGrid>
		</p:dialog>
	</h:body>
</ui:composition>
