<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">Tasks</ui:define>

	<ui:define name="content">
		<ui:include src="tasks.xhtml"></ui:include>
	</ui:define>

</ui:composition>