<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
</h:head>
<h:body>
	<h:form id="tasksForm">
		<p:commandButton value="Add New Task" ajax="true"
			action="#{taskBean.reset}" oncomplete="PF('addTaskDialog').show()"
			process="@this" update="@([id$=addForm])" icon="ui-icon ui-icon-plus">
		</p:commandButton>
		<p:growl id="msgs" showDetail="true" />

		<p:dataTable id="tasksTable" var="task" value="#{taskBean.taskList}"
			rowKey="#{task.id}" paginator="true" rows="10"
			paginatorPosition="bottom">
			<f:facet name="header">
           Tasks Table
        </f:facet>
			<p:column styleClass="taskColumn">
				<f:facet name="header">Name</f:facet>
				<h:outputText value="#{task.name}" />
			</p:column>

			<p:column styleClass="taskColumn">
				<f:facet name="header">Description</f:facet>
				<h:outputText value="#{task.description}" />
			</p:column>

			<p:column>
				<f:facet name="header">Options</f:facet>

				<p:commandButton value="AddUser" ajax="true"
					oncomplete="PF('staffTaskDialog').show()" process="@this"
					update="@([id$=addStaffTaskForm])" icon="ui-icon ui-icon-plus">
					<f:setPropertyActionListener value="#{task}"
						target="#{taskBean.selectedtask}" />
				</p:commandButton>

				<p:commandButton value="View" ajax="true"
					oncomplete="PF('UserTaskDetail').show()" update=":taskDetails"
					icon="ui-icon-search">
					<f:setPropertyActionListener value="#{task}"
						target="#{taskBean.selectedtask}" />
				</p:commandButton>

				<p:commandButton value="Edit" ajax="true" icon="ui-icon-pencil"
					oncomplete="PF('editTaskDialog').show()"
					update="@([id$=panelTask])">
					<f:setPropertyActionListener value="#{task}"
						target="#{taskBean.selectedtask}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<!-- TaskDetails -->

	<p:dialog header="Task Info" widgetVar="UserTaskDetail"
		showEffect="fade" hideEffect="fade" resizable="false">
		<p:panelGrid id="taskDetails" columns="2" layout="grid"
			columnClasses="ui-grid-col-4,ui-grid-col-8"
			styleClass="ui-panelgrid-blank">

			<h:outputText value="Name:" />
			<h:outputText value="#{taskBean.selectedtask.name}" />

			<h:outputText value="Description:" />
			<h:outputText value="#{taskBean.selectedtask.description}" />

			<h:outputText value="Deadline:" />
			<h:outputText value="#{taskBean.selectedtask.createdDate}" />

		</p:panelGrid>
	</p:dialog>

	<!-- AddTask -->

	<p:dialog header="Add Task" widgetVar="addTaskDialog" width="900px"
		resizable="false">
		<h:form id="addForm">
			<p:panelGrid columns="4" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-4"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" value="#{taskBean.selectedtask.name}"
					requiredMessage="TaskName is required!" required="true">
					<f:validateLength minimum="2" maximum="20" />
				</p:inputText>

				<p:outputLabel for="description" value="Description:" />
				<p:inputTextarea id="description"
					value="#{taskBean.selectedtask.description}"
					requiredMessage="Task description is required!" required="true">
				</p:inputTextarea>

				<p:outputLabel for="deadline" value="Deadline:" />
				<p:calendar id="deadline"
					value="#{taskBean.selectedtask.createdDate}" pattern="yyyy-MM-dd" />
			</p:panelGrid>

			<p:panelGrid columns="2" layout="grid"
				style="margin-left:35%;margin-top:20px"
				columnClasses="ui-grid-col-2,ui-grid-col-8"
				styleClass="ui-panelgrid-blank">

				<p:commandButton value="Save" style="color:green;"
					oncomplete="PF('addTaskDialog').hide();"
					update="@([id$=taskForm]) @([id$=msgs]) @([id$=tasksTable])"
					action="#{taskBean.loadTask}" actionListener="#{taskBean.save}"
					icon="ui-icon-check" />

				<p:commandButton value="Reset" icon="ui-icon-close">
					<p:ajax update="addForm" resetValues="true" />
				</p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>


	<!-- EditTask -->

	<p:dialog header="Edit Task" widgetVar="editTaskDialog" width="900px"
		resizable="false">
		<h:form id="editForm">
			<p:panelGrid id="panelTask" columns="4" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-4"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" value="#{taskBean.selectedtask.name}"
					requiredMessage="TaskName is required!" required="true">
					<f:validateLength minimum="2" maximum="30" />
				</p:inputText>

				<p:outputLabel for="description" value="Description:" />
				<p:inputTextarea id="description"
					value="#{taskBean.selectedtask.description}"
					requiredMessage="Task description is required!" required="true">
				</p:inputTextarea>

				<p:outputLabel for="deadline" value="CreatedDate:" />
				<p:calendar id="deadline"
					value="#{taskBean.selectedtask.createdDate}" pattern="yyyy-MM-dd" />
			</p:panelGrid>

			<p:panelGrid columns="2" layout="grid"
				style="margin-left:35%;margin-top:20px"
				columnClasses="ui-grid-col-2,ui-grid-col-8"
				styleClass="ui-panelgrid-blank">

				<p:commandButton value="Save"
					oncomplete="PF('editTaskDialog').hide();"
					update="@([id$=taskForm]) @([id$=msgs]) @([id$=tasksTable])"
					action="#{taskBean.loadTask}" actionListener="#{taskBean.update}"
					icon="ui-icon-check" />

				<p:commandButton value="Cancel" icon="ui-icon-close"
					oncomplete="PF('editTaskDialog').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<!-- add task to user -->

	<p:dialog header="Add task to user" widgetVar="staffTaskDialog"
		width="900px" height="130px" resizable="false">
		<h:form id="addStaffTaskForm">
			<p:panelGrid id="panelStaffTask" columns="4" layout="grid"
				columnClasses="ui-grid-col-2,ui-grid-col-4"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel for="task" value="Task:" />
				<p:selectOneMenu id="task" value="#{taskBean.selectedtask.id}"
					style="width:200px" converter="converterClass">
					<f:selectItem itemLabel=" SelectTask:" itemValue="#{null}" />
					<f:selectItems value="#{taskBean.taskList}" var="task"
						itemLabel="#{task.name}" itemValue="#{task.id}" />
				</p:selectOneMenu>

				<p:outputLabel for="staff" value="Staff:" />
				<p:selectOneMenu id="staff" value="#{taskBean.staffTaskId.staffId}"
					style="width:200px" converter="converterClass">
					<f:selectItem itemLabel=" SelectStaff:" itemValue="#{null}" />
					<f:selectItems value="#{taskBean.staffList}" var="staff"
						itemLabel="#{staff.username}" itemValue="#{staff.id}" />
				</p:selectOneMenu>

			</p:panelGrid>
			<p:panelGrid columns="2" layout="grid"
				style="margin-left:40%;margin-top:40px"
				columnClasses="ui-grid-col-3,ui-grid-col-6"
				styleClass="ui-panelgrid-blank">

				<p:commandButton value="Save"
					oncomplete="PF('staffTaskDialog').hide();"
					update="@([id$=taskForm]) @([id$=msgs]) @([id$=tasksTable])"
					actionListener="#{taskBean.saveStaffTask}" icon="ui-icon-check" />

				<p:commandButton value="Cancel" icon="ui-icon-close"
					oncomplete="PF('staffTaskDialog').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>
