<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
	</h:head>
	<h:body>
		<h:form id="tasksForm">
			<p:growl id="msgs" showDetail="true" />

			<p:dataTable id="tasksTable" var="task" value="#{taskBean.staffTask}"
				rowKey="#{task.id}" paginator="true" rows="10"
				paginatorPosition="bottom">
				<f:facet name="header">
           Tasks Table
        </f:facet>
				<p:column>
					<f:facet name="header">Name</f:facet>
					<h:outputText value="#{task.name}" />
				</p:column>

				<p:column>
					<f:facet name="header">Description</f:facet>
					<h:outputText value="#{task.description}" />
				</p:column>

				<p:column>
					<f:facet name="header">Options</f:facet>

					<p:commandButton value="View" ajax="true"
						oncomplete="PF('UserTaskDetail').show()" update=":taskDetails"
						icon="ui-icon-search">
						<f:setPropertyActionListener value="#{task}"
							target="#{taskBean.selectedtask}" />
					</p:commandButton>

					<p:commandButton value="Add Raport" ajax="true"
						oncomplete="PF('addReportDialog').show()" update=":addReportForm"
						icon="ui-icon-plus">
						<f:setPropertyActionListener value="#{task}"
							target="#{taskBean.selectedtask}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<!-- TaskDetails -->

		<p:dialog header="Task Info" widgetVar="UserTaskDetail"
			showEffect="fade" hideEffect="fade" resizable="false">
			<p:panelGrid id="taskDetails" columns="2"
				columnClasses="ui-grid-col-5,ui-grid-col-8"
				styleClass="ui-panelgrid-blank">

				<h:outputText value="Name:" />
				<h:outputText value="#{taskBean.selectedtask.name}" />

				<h:outputText value="Description:" />
				<h:outputText value="#{taskBean.selectedtask.description}" />

				<h:outputText value="Deadline:" />
				<h:outputText value="#{taskBean.selectedtask.createdDate}" />

			</p:panelGrid>

		</p:dialog>

		<!-- Add Report -->

		<p:dialog header="Add Report" widgetVar="addReportDialog"
			resizable="false">
			<h:form id="addReportForm">
				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-panelgrid-blank">
					<p:outputLabel for="staff" value="Staff:" />
					<p:inputText id="staff"
						value="#{taskBean.sessionManager.staf.firstname}" disabled="true" />

					<p:outputLabel for="task" value="Task:" />
					<p:inputText id="task" value="#{taskBean.selectedtask.id}"
						disabled="true" />

					<p:outputLabel for="medical" value="Medical Observation:" />
					<p:inputTextarea id="medical"
						value="#{taskBean.report.medicalObservation}">
						<f:validateLength minimum="2" maximum="200" />
					</p:inputTextarea>

					<p:outputLabel for="diet" value="Diet Observation:" />
					<p:inputTextarea id="diet"
						value="#{taskBean.report.dietObservation}">
						<f:validateLength minimum="2" maximum="200" />
					</p:inputTextarea>

					<p:outputLabel for="comment" value="Comments:" />
					<p:inputTextarea id="comment" value="#{taskBean.report.comments}">
						<f:validateLength minimum="2" maximum="200" />
					</p:inputTextarea>

					<p:outputLabel for="createdDate" value="Created Date" />
					<p:calendar id="createdDate" value="#{taskBean.report.createdDate}" />

				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-panelgrid-blank">
					<p:commandButton value="Save" style="margin-left: 70px;"
						oncomplete="PF('addReportDialog').hide();"
						update="@([id$=reportForm]) @([id$=msgs]) @([id$=reportTab])"
						actionListener="#{taskBean.saveReport}" icon="ui-icon-check" />

					<p:commandButton value="Cancel"
						oncomplete="PF('addReportDialog').hide();" icon="ui-icon-close" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</h:body>
</ui:component>
