<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Login</title>
	<h:outputStylesheet name="style/style.css" />
</h:head>
<h:body>
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>
			ZooManagement<span></span>
		</div>
	</div>
	<div class="login">
		<h:form id="loginForm">
			<p:growl id="msgs" showDetail="false" life="2000" />

			<p:inputText id="username" styleClass="input" placeholder="Username"
				requiredMessage="Username can not be empty"
				validatorMessage="Wrong Username!" value="#{loginBean.username}"
				required="true">
				<f:validateLength minimum="4" maximum="20" />
			</p:inputText>

			<p:password id="password" styleClass="input" placeholder="Password"
				requiredMessage="Password can not be empty"
				value="#{loginBean.password}" required="true">
			</p:password>

			<h:commandButton value="Log In" update="msgs" process="@this"
				styleClass="btn-block" ajax="false" action="#{loginBean.login}" />
		</h:form>
	</div>
	<h:outputStylesheet name="style.css" library="style" />
</h:body>

</html>